/* scrollbar
https://scottspence.com/posts/change-scrollbar-color-tailwind-css

highlight
https://scottspence.com/posts/change-text-highlight-colour-with-tailwind-css */

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f1f4f5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f1f4f5;
}

::selection {
  background: #80abc8;
}

@tailwind components;
@tailwind utilities;
